.lesson_position{
  width:60px;
}
.move_postion_button{
  width:auto;
  padding-left: 4px;
  padding-right: 4px;
}

.lesson_tag{
  margin:2px;
  padding:2px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 10px;
}

.lesson:hover{
  background-color: lightGray;
}

.lesson:active{
  background-color: lightGray;
}
.lesson_info{
  font-weight: bold;
}

.grab_area{
  font-size: 300%;
}
.grab_area:hover{
  cursor:grab;
}

.add_tag_button{
  border:none;
}
