* {
  margin: 0;
  padding: 0;
}

header{
	width:100%;
	height:14vh;
	padding-left: 0vw;
	color: #231d1f;
	background-color: #FDF100;
	white-space:nowrap;
  border-bottom-color: #D00000;
  border-bottom-style: solid;
  border-bottom-width: medium;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

#uniandes_logo{
  right:15px;
  top:0px;
  height:14vh;
  position: absolute;
}

body{
	overflow: hidden;
}

#app_title{
	font-size: 5vh;
	padding:3vh;
	margin:0px;
}

#app_main_content{
	width:100%;
	overflow: scroll;
}

#app_sidebar{
	width:100%;
	padding-left: 5px;
  padding-right: 5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
}

#app_container{
		top:3vh;
		padding:0px;
}

#complete_container{
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	position: absolute;
}

.app_sidebar_button{
	color: white;
	background-color: #3F88C5;
	padding:10px;
	border-radius: 5px;
	overflow: hidden;
}

.app_sidebar_button:hover{
	background-color: #336FA0;
}

.clickable{
	text-decoration: underline;
	color:black;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
					user-select: none; /* Non-prefixed version, currently
																supported by Chrome and Opera */
}

.auto_height{
	height:100%;
	width:100%;
}

.child_size{
  height:auto;
  width: auto;
}

.clickable:hover{
	color:gray;
	cursor: pointer;
}

.clickable:active{
	color:darkGray;
}

.directory{
	border-style: solid;
	border-width: thin;
	border-color: #231d1F;
	border-radius: 5px;
	padding : 5px;
	margin-bottom: 5px;

}

.parent_directory{
	width:75%;
}

.directory_menu{
	text-align: right;
}

.round_button{
	border-radius: 10px;
	border-style: solid;
	border-width: thin;
	border-color:gray;
}

.round_button:hover{
	background-color:gray;
	cursor: pointer;
}

.round_button:active{
	background-color: darkGray;
}

.bold{
	font-weight: bold;
}

.float_cube_revised{
  float: left;
  width: 200px;
  height: 175px;
  margin: 10px;
  display:inline-block;
  overflow: hidden;
  padding: 5px;
  border-style: solid;
  border-color: darkgreen;
  border-width: thin;
  border-top-width: thick;

}

.float_cube_needs_revision{
  float: left;
  width: 200px;
  height: 175px;
  margin: 10px;
  display:inline-block;
  overflow: hidden;
  padding: 5px;
  border-style: solid;
  border-color: #D00000;
  border-width: thin;
  border-top-width: thick;

}

p.float_cube{
  display:inline-block;
  overflow: hidden;
}

@media (max-width:768px) {
	.app_sidebar_button{
		width:25%;
	}
	.app_sidebar_button_text{
		display:none;
	}

	header{
		padding-left: 0vw;
	}
	#app_sidebar{
		text-align:center;
	}
	#app_main_content{
		padding-top: 5px;
		height:75vh;
	}
  #uniandes_logo{
    display: none;
  }
}

@media (min-width:768px) {
	.app_sidebar_button{
		width:100%;
		margin-bottom: 10px;
	}
	.app_sidebar_button_text{
		display:inline;
	}
	header{
		padding-left: 0vw;
	}
	#app_main_content{
		padding-top: 10px;
	}
	#app_sidebar{
    padding-top: 16px;
	}
	#app_main_content{
		height:88vh;
	}
}
