.PopUp{
  position: absolute;
  top: 0px;
  bottom:0px;
  right:0px;
  left:0px;
  background-color: white;
}

.PopUpContent{
  position: relative;
  width: 75%;
  left: 12%;
  top: 25%;
}

.PopUpInput{
  width: 100%;
}
